.myForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    padding-top: 40px;
    width: 40%;
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 16px;
  
}
section {
    min-height: 100vh;/* Utilisation de min-height pour garantir que la section occupe au moins toute la hauteur de la fenêtre visible */
    padding-bottom: 50px;
    margin: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.myBody {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;

}

label {
    margin-bottom: 5px;
}

.btnRegister {
    background-color: #6557FF;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
    height: 40px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.myH {
  width: 60px;
  border: none; /* Supprime le bord */
  background-color: white; /* Couleur de la ligne */
  height: 1px; /* Épaisseur de la ligne */
}

.form-btn{
    width: 100%;
    padding-top: 13px;   
}
.btnRegister:hover {
    background-color: #6557FF;
}

.myInput1 {
    border-radius: 16px;
    font-size: 18px;
    width:40%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: #000000;

}
.myInput {
    border-radius: 16px;
    font-size: 18px;
    width:100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #483F3F;
    background-color: #FFFFFF;

}

.textCnnecte {
    color: #0056b3;
    margin-top: 2px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 14px;

}
.text {
    color: #000000;
    margin-top: 2px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 14px;

}

.mylink {
    text-decoration: none;
    color: #0056b3;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.mytextCount {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mytextCount p {
    display: inline-block;
    margin: 3px;
}

.Radio {
    display: flex;
    align-items: center;
    flex-direction: row;

}
.mytextParent{
    text-align: center;
    width: 100%;
    margin-left: 1px;
    margin-bottom: 20px;
}

.myInputChecK {
    width: 16px;
    height: 16px;
    margin-top: -3px;
    margin-right: 5px;

}

label {
    color: #999090;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.labelText {
    font-size: 14px;
    color: #483F3F;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.myJoin{
    text-align: center;
}

body {
    background-color: #F6F6F6;
}

.myTitle {
    color: #000000;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.myTitlePaie{
    color: #000000;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}
.mySectionDash {
    background-image: url("image/image.jpg");
    height: 100%;
    display: flex;
    gap: 30px;
    flex-direction: row;
    
}

.bloc1 {
    background-color: #000000;
    border: 1px solid black;
    height: 100%; /* Prendre toute la hauteur disponible du parent */
    flex: 0 0 auto; /* Ne pas grandir, ne pas rétrécir, taille automatique */
    width: 400px; /* Définissez la largeur souhaitée */
}

.bloc2 {
    height: 100%; /* Prendre toute la hauteur disponible du parent */
    flex: 1; /* Utiliser tout l'espace disponible en largeur */
    /* Ajoutez les styles appropriés pour le bloc2 selon vos besoins */
}

@media screen and (max-width: 768px) {
    .myForm {
        width: 80%; /* Réduire la largeur du formulaire pour les téléphones */
    }
}

/* Media Queries pour les écrans de taille moyenne (tablette) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .myForm {
        width: 60%; /* Réduire la largeur du formulaire pour les tablettes */
    }
}